<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            width: 500px;
        }
        table,th,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    
    <form action="user_reg" method="post">
        {% csrf_token%}
        ID<input type="text" name="id"><br>
        Name<input type="text" name="name"><br>
        Age<input type="number" name="age"><br>
        Email<input type="email" name="email"><br>
        <input type="submit" value="add">
    </form>

  <table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>EMAIL</th>

    </tr>
    {% for i in users %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
        <td>{{i.email}}</td>
    </tr>
    {% endfor %}

  </table>


</body>
</html>