<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        ID<input type="text" name="id" value="{{user.id}}"><br>
        Name<input type="text" name="name" value="{{user.name}}"><br>
        Age<input type="text" name="age" value="{{user.age}}"><br>
        Email<input type="text" name="email" value="{{user.email}}"><br>
        <input type="submit" value="Edit">


    </form>
</body>
</html>