<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK MY SHOW DEMO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link rel="stylesheet" href="./style.css">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-gray">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)" style="color:black">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <form class="d-flex" style="width:400px;padding-left: 90px;">
          <input class="form-control me-2" type="text" placeholder="Search for a movie or shows">
        </form>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"  style="color:black;padding-left: 680px;">Kochi<i class="fa-solid fa-angle-down" style="padding-left: 10px;"></i></a>
        </li>
      <div style="padding-right:20px">
      <button class="btn btn-danger" type="button">Sign in</button>
      </div>
      <div><i class="fa-solid fa-bars"></i></div>
    </ul>
    </div>
  </div>
</nav>

<nav id="nav2" class=" second-navbar d-none d-md-block" style="background-color: rgb(247, 245, 245);">
  <div id="navrow" class="row container  pt-2">
      <div class="col-auto ">
          <a class="text-decoration-none" href="#">
              <p class="text-black">Movies</p>
          </a>
      </div>
      <div class="col-auto">
          <a class="text-decoration-none" href="#">
              <p class="text-black">Steam</p>
          </a>
      </div>
      <div class="col-auto">
          <a class="text-decoration-none" href="#">
              <p class="text-black">Events</p>
          </a>
      </div>
      <div class="col-auto">
          <a class="text-decoration-none" href="#">
              <p class="text-black">Plays</p>
          </a>
      </div>
      <div class="col-auto">
          <a class="text-decoration-none" href="#">
              <p class="text-black">Sports</p>
          </a>
      </div>
      <div class="col-auto">
          <a class="text-decoration-none" href="#">
              <p class="text-black">Activities</p>
          </a>
      </div>


      <div id="navrow2" class="col-auto ms-auto">
          <a class="text-decoration-none" href="#">
              <p class="text-black">ListYourShow</p>
          </a>
      </div>
      <div class="col-auto">
          <a class="text-decoration-none" href="#">
              <p class="text-black">Corparates</p>
          </a>
      </div>
      <div class="col-auto">
          <a class="text-decoration-none" href="#">
              <p class="text-black">Offers</p>
          </a>
      </div>
      <div class="col-auto">
          <a class="text-decoration-none" href="#">
              <p class="text-black">Gift Cards</p>
          </a>
      </div>
  </div>
</nav>

<div id="main1" class="image-fluid d-flex ">
    <div id="main2" class=" row align-items-center">
        Movie Card 1
        <div class="col-md-4">
            <div class="movie-card">
                <img src="img/mv2.jpg" alt="A.R.M" style="height: 400px;">
                <div class="movie-details">
                    <div class="movie-stats" style="background-color: #000000">
                        <span> In Cinemas</span>
                    </div>
                   
                </div>
            </div>
        </div>
        <div id="main3" class="col-md-8">
            <div class="movieinfo">
                <div class="movietitle" style="margin-left: 320px;"><h1>A.R.M</h1></div>
                <div id="rating" class="d-flex align-items-center" style="margin-left: 320px; width: 400px;">
                  <span id="star" class="star text-orange">&nbsp;&nbsp; ★</span>
                  <span class="score mx-2"><b>8.7/10</b></span>
                  <span class="votes">(58.1K Votes) ></span>
                  <button id="ratebtn" class="btn btn-outline-secondary rate-btn ms-auto"><b>Rate now</b>&nbsp;&nbsp;</button>
              </div>
                <div class="lang row gap-4 mt-3" style="margin-left: 320px;width: 500px;">
                    <div id="lang" class="col-2"><b>2D,3D</b></div>
                    <div id="lang" class="col-9"><span class="language">Malayalam, Hindi, Tamil, Kannada, Telugu</span></div>
                </div>
                <div class="duration mt-3"style="margin-left: 320px;width: 500px;"><b>2h 23m • Action,Adventure, Drama,Period • UA • 12 Sep, 2024</b></div></div>
                

                <a id="book" class="mt-5" href="#"style="margin-left: 320px;width: 500px;"><b>Book tickets</b></a>


            </div>
        </div>
  </div>
</div>

<div class="sample container p-3">
<h3><b>About the movie</b></h3>
<span>Set in Northern Kerala across the years 1900, 1950, and 1990, this epic tale follows three generations of heroes Maniyan,</span>
<span>Kunjikelu, and Ajayan as they strive to protect the land's most vital treasure.</span>
</div>
<hr class="mx-auto d-block" width="71%">



<div class="sample container p-3">
<h3 class="mb-4 container " ><b>Cast</b></h3>

<div id="demo" class="carousel slide" data-bs-ride="false">

The slideshow/carousel
<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="d-flex gap-2">
    <div>
    <img src="img/c1.avif" class=" d-inline rounded-circle" style="width:150px;" alt="">
    <figcaption style="text-align: center;">Tovino Thomas</figcaption> 
   </div>
   <div>
    <img src="img/c2.avif" class=" d-inline rounded-circle" style="width:150px;" alt="">
    <figcaption style="text-align: center;">Krithi</figcaption>
   </div>
   <div>
    <img src="img/c3.avif" class=" d-inline rounded-circle" style="width:150px;" alt="">
    <figcaption style="text-align: center;">Aiswarya</figcaption>
    </div> 
    <div>
    <img src="img/c4.avif" class=" d-inline rounded-circle" style="width:150px;" alt=""> 
    <figcaption style="text-align: center;">Surabhi</figcaption>
    </div>
    <div>
    <img src="img/c5.avif" class=" d-inline rounded-circle" style="width:150px;" alt="">
    <figcaption style="text-align: center;">Basil</figcaption>
    </div>
    <div> 
    <img src="img/c6.avif" class=" d-inline rounded-circle" style="width:150px;" alt="">
    <figcaption style="text-align: center;">Harish</figcaption>
    </div>
    <div> 
    <img src="img/c7.avif" class=" d-inline rounded-circle" style="width:150px;" alt="">
    <figcaption style="text-align: center;">Madhupal</figcaption> 
   </div>
</div>


  </div>
  <div class="carousel-item">
    <div class="d-flex gap-2">
        <div>
        <img src="img/c8.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
        <figcaption style="text-align: center;">Rohini</figcaption> 
       </div>
       <div>
        <img src="img/c9.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
        <figcaption style="text-align: center;">Aju varghese</figcaption>
       </div>
       <div>
        <img src="img/c10.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
        <figcaption style="text-align: center;">Kabir</figcaption>
        </div> 
        <div>
        <img src="img/c11.avif" class=" d-inline rounded-circle" style="width:165px;" alt=""> 
        <figcaption style="text-align: center;">Jagadeesh</figcaption>
        </div>
        <div>
        <img src="img/c12.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
        <figcaption style="text-align: center;">Sudheesh</figcaption>
        </div>
        <div> 
        <img src="img/c13.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
        <figcaption style="text-align: center;">Nisthar</figcaption>
        </div>
        <div> 
            <img src="img/c14.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
            <figcaption style="text-align: center;">Maala</figcaption>
            </div>
  </div>   

  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

  </div>

<hr class="mx-auto d-block" width="71%">

<div class="sample container p-5">
<h3 class="mb-4 container " ><b>Crew</b></h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-6 g-4">
<div class="col">
    <img src="img/cr1.avif" class="img-fluid rounded-circle" alt="">
    <figcaption style="text-align: center;">Jithin Laal</figcaption> 
    <figcaption class="text-secondary" style=" text-align: center;">Director</figcaption> 

</div>
<div class="col">
    <img src="img/cr2.avif" class="img-fluid rounded-circle" alt="">
    <figcaption style="text-align: center;">Listin Stephen</figcaption>
    <figcaption class="text-secondary" style=" text-align: center;">Producer</figcaption> 
</div>
<div class="col">
    <img src="img/cr3.avif" class="img-fluid rounded-circle" alt="">
    <figcaption style="text-align: center;">Suijith Nambiar</figcaption>
    <figcaption class="text-secondary" style=" text-align: center;">Writer</figcaption> 
</div> 
<div class="col">
    <img src="img/cr4.avif" class="img-fluid rounded-circle" alt=""> 
    <figcaption style="text-align: center;">Dhibu Ninan</figcaption>
    <figcaption class="text-secondary" style=" text-align: center;">Musician</figcaption> 
</div>
<div class="col">
    <img src="img/cr5.avif" class="img-fluid rounded-circle" alt="">
    <figcaption style="text-align: center;">Jomon T</figcaption>
    <figcaption class="text-secondary" style=" text-align: center;">Cinematography</figcaption> 
</div>
<div class="col"> 
    <img src="img/cr6.avif" class="img-fluid rounded-circle" alt="">
    <figcaption style="text-align: center;">Shameer</figcaption>
    <figcaption class="text-secondary" style=" text-align: center;">Editor</figcaption> 
</div>
</div>
<hr class="mx-auto d-block" width="100%">

<div class="container mt-3">
Top Reviews Header
<div class="d-flex justify-content-between align-items-center mb-1">
<h3 class="mb-0"><b>Top reviews</b></h3>
<a href="#" class="text-danger text-decoration-none">28.5K reviews ></a>
</div>

<p class="mt-4">Summary of 28.5K reviews.</p>

<div class="sample container p-5">

<div id="demo1" class="carousel slide" data-bs-ride="false">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex gap-2">
        <div>
        <span id="no" class="badge rounded-pill  mx-2">#GreatActing &nbsp;&nbsp;<small id="no1" class="text-secondary">17443</small></span>
    </div>
       <div>
        <span id="no" class="badge rounded-pill   mx-2">#SuperDirection&nbsp;&nbsp; <small id="no1" class="text-secondary">17147</small></span>
    </div>
       <div>
        <span id="no" class="badge rounded-pill  mx-2">#WellMade&nbsp;&nbsp; <small id="no1" class="text-secondary">15562</small></span>
    </div> 
        <div>
            <span id="no" class="badge rounded-pill t mx-2">#AwesomeStory&nbsp;&nbsp; <small id="no1" class="text-secondary">11146</small></span>
        </div>
        <div>
            <span id="no" class="badge rounded-pill  mx-2">#WorthWatching&nbsp;&nbsp; <small id="no1" class="text-secondary">15300</small></span>
        </div>

    </div>


      </div>
      <div class="carousel-item">
        <div class="d-flex gap-2">
            <div> 
                <span id="no" class="badge rounded-pill  mx-2">#SuperMovie&nbsp;&nbsp;<small id="no1" class="text-secondary">143532</small></span>
            </div>
            <div> 
                <span id="no" class="badge rounded-pill mx-2">#Wellmade&nbsp;&nbsp; <small id="no1" class="text-secondary">23233</small></span>
            </div>
            <div> 
                <span id="no" class="badge rounded-pill  mx-2">#WorthWatching&nbsp;&nbsp; <small id="no1" class="text-secondary">43534</small></span>
            </div>
            <div> 
                <span id="no" class="badge rounded-pill  mx-2">#Superb&nbsp;&nbsp; <small id="no1" class="text-secondary">10000</small></span>
            </div>
            <div> 
                <span id="no" class="badge rounded-pill  mx-2">#brelient &nbsp;&nbsp;<small id="no1" class="text-secondary">2342</small></span>
            </div>
            <div> 
                <span id="no" class="badge rounded-pill  mx-2">#supersong &nbsp;&nbsp;<small id="no1" class="text-secondary">34234</small></span>
            </div>
      </div>   

      </div>
    </div>
    <button  style="background-color: #747774; border-radius: 50%; width: 25px; height: 25px; position: absolute; top: 30%; right: 0px;" class="carousel-control-prev" type="button" data-bs-target="#demo1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button  style="background-color: #747774; border-radius: 50%; width: 25px; height: 25px; position: absolute; top: 30%; right: 0px;" class="carousel-control-next" type="button" data-bs-target="#demo1" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <div id="demo2" class="carousel slide mt-4" data-bs-ride="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div id="revbox" class="col-md-5 mb-4">
                <div class="card border-light p-3">
                  <div class="d-flex align-items-center mb-3">
                    <img src="img/icon.jpg" width="50" height="50" alt="User" class="rounded-circle me-3">
                    <h6 class="mb-0">user1003</h6>
                    <span class="ms-auto text-dark"><i class="fa fa-star text-danger"></i>10/10 </span>
                  </div>
                  <p class="mb-2" style="font-size: 0.9rem; line-height: 1.5;">
                    അജയന്റെ രണ്ടാം മോഹം സിനിമ കണ്ട് ഇറങ്ങി കഴിഞ്ഞ് ആദ്യം ഓർമയിൽ വന്നത് മുമ്പ് സുഷിൻ ശ്യാം പറഞ്ഞ കാര്യം ആണ് "ഈ സിനിമ മലയാള സിനിമയുടെ സീൻ മാറ്റും"
                    <a id="more" href="#">...more</a>
                  </p>
                  <div class="d-flex align-items-center">
                    <button class="btn btn-light btn-sm me-2"><i class="fa-regular fa-thumbs-up"></i> 5.7K</button>
                    <button class="btn btn-light btn-sm"><i class="fa-regular fa-thumbs-down"></i></button>
                    <small class="ms-auto">25 Days ago</small>
                    <button class="btn btn-light btn-sm ms-2"><i class="fa fa-share"></i></button>
                  </div>
                </div>
              </div>
      
              <div id="revbox" class="col-md-5 mb-4">
                <div class="card border-light p-3">
                  <div class="d-flex align-items-center mb-3">
                    <img src="img/icon.jpg" width="50" height="50" alt="User" class="rounded-circle me-3">
                    <h6 class="mb-0">User1002</h6>
                    <span class="ms-auto text-dark"><i class="fa fa-star text-danger"></i>8/10 </span>
                  </div>
                  <p class="mb-2" style="font-size: 0.9rem; line-height: 1.5;">
                    #SuperDirection #AwesomeStory #Inspiring #Wellmade
                    just watched A.R.M. and I'm still reeling from the experience! The movie was absolutely amazing, with Tovino's acting being the standout performance.
                    <a id="more" href="#">...more</a>
                    </p>
                  <div class="d-flex align-items-center">
                    <button class="btn btn-light btn-sm me-2"><i class="fa-regular fa-thumbs-up"></i> 760</button>
                    <button class="btn btn-light btn-sm"><i class="fa-regular fa-thumbs-down"></i></button>
                    <small class="ms-auto">25 Days ago</small>
                    <button class="btn btn-light btn-sm ms-2"><i class="fa fa-share"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="carousel-item">
            <div class="row">
              <div id="revbox" class="col-md-5 mb-4">
                <div  class="card border-light p-3">
                  <div class="d-flex align-items-center mb-3">
                    <img src="img/icon.jpg" width="50" height="50" alt="User" class="rounded-circle me-3">
                    <h6 class="mb-0">user1001</h6>
                    <span class="ms-auto text-dark"><i class="fa fa-star text-danger"></i>9/10 </i></span>
                  </div>
                  <p class="mb-2" style="font-size: 0.9rem; line-height: 1.5;">
                    #Entertaining #Interesting #NiceStory #Timepass #CoolMusic #Fun
                    3ഡി വളരെ മോശം ആണ് 2ഡി യിൽ കാണുമ്പോൾ വളരെ ഇന്ട്രെസ്റ് ആയേനെ 3ഡി ഫേസ് എല്ലാം കുതിരയെ പോലെ ആയിപോയി
                      </p>
                  <div class="d-flex align-items-center">
                    <button class="btn btn-light btn-sm me-2"><i class="fa-regular fa-thumbs-up"></i> 4.2K</button>
                    <button class="btn btn-light btn-sm"><i class="fa-regular fa-thumbs-down"></i></button>
                    <small class="ms-auto">15 Days ago</small>
                    <button class="btn btn-light btn-sm ms-2"><i class="fa fa-share"></i></button>
                  </div>
                </div>
              </div>
      
              <div id="revbox" class="col-md-5 mb-4">
                <div class="card border-light p-3">
                  <div class="d-flex align-items-center mb-3">
                    <img src="img/icon.jpg" width="50" height="50" alt="User" class="rounded-circle me-3">
                    <h6 class="mb-0">user1000</h6>
                    <span class="ms-auto text-dark"><i class="fa fa-star text-danger"></i>7/10 </span>
                  </div>
                  <p class="mb-2" style="font-size: 0.9rem; line-height: 1.5;">
                    #OneTimeWatch #Timepass
                    പ്രത്യേകിച്ച് ഒന്നുമില്ല.... ഒട്ടും emotionally hook ചെയ്യാത്തെ കഥയും സിനിമയും... എന്തിനിത് 3d ആക്കി ഇറങ്ങി എന്ന് മനസിലാവുന്നില്ല... ആൾക്കാരെ theatre 
                    <a id="more" href="#">...more</a>
                </p>
                  <div class="d-flex align-items-center">
                    <button class="btn btn-light btn-sm me-2"><i class="fa-regular fa-thumbs-up"></i> 1.5K</button>
                    <button class="btn btn-light btn-sm"><i class="fa-regular fa-thumbs-down"></i></button>
                    <small class="ms-auto">30 Days ago</small>
                    <button class="btn btn-light btn-sm ms-2"><i class="fa fa-share"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <button id="prev" class="carousel-control-prev" type="button" data-bs-target="#demo2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button id="next" class="carousel-control-next" type="button" data-bs-target="#demo2" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> 
</div>
</div>

<hr>

<div class="sample container p-5">
<div class="d-flex justify-content-between align-items-center mb-1">
<h3  class="mb-0"><b>Critic reviews</b></h3>
<a href="#"  class="text-danger text-decoration-none ms-2">See all ></a>
</div>
<div class="row mt-4">
<div id="revbox" class="col-md-5 mb-4">
  <div  class="card border-light p-3">
    <div class="d-flex align-items-center mb-3">
      <img src="img/icon.jpg" width="50" height="50" alt="User" class="rounded-circle me-3">
      <h6 class="mb-0">The Indian Express</h6>
      <span class="ms-auto text-dark"><i class="fa fa-star text-danger"></i>7/10 </i></span>
    </div>
    <p class="mb-2" style="font-size: 0.9rem; line-height: 1.5;">
        <p><b>A.R.M</b></p>
        A landmark film in Tovino Thomas’ career.
        <a id="more" href="#">...more</a>
        </p>
  </div>
</div>
<hr>
</div>
</div>
</div>


<div class="sample container p-5">
<div class="d-flex justify-content-between align-items-center mb-1">
<h3  class="mb-0"><b>Recommended Movies</b></h3>
<a href="#"  class="text-danger text-decoration-none ms-2">28.5K reviews ></a>
</div>
<div id="demo3" class="carousel slide" data-bs-ride="false">

<div class="carousel-inner">
<div class="carousel-item active ">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-3">
            <a class="text-decoration-none text-black" href="2ndpage.html">
                <div class="movie-card">
                    <img src="img/mv6.avif" class="img-fluid">
                    <div class="movie-details ">
    
                        <h5 class="movie-title">Oru Kattil Oru Muri</h5>
                        <p class="movie-genre">Family/Romantic/Drama</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12 col-lg-3">
            <a class="text-decoration-none text-black" href="2ndpage.html">
                <div class="movie-card">
                    <img src="img/mv1.jpg" alt="Kishkindha Kaandam" class="img-fluid">
                    <div class="movie-details">
                        <h5 class="movie-title">Kishkindha Kaandam</h5>
                        <p class="movie-genre">Thriller/Drama</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12 col-lg-3">
            <a class="text-decoration-none text-black" href="2ndpage.html">
                <div class="movie-card">
                    <img src="img/mv4.jpg" alt="Kishkindha Kaandam" class="img-fluid">
                    <div class="movie-details ">
                        <h5 class="movie-title">Martin- Part 1</h5>
                        <p class="movie-genre">Drama/Action/Thriller</p>
                    </div>
                        
                </div>
            </a>
        </div>
        <div class="col-md-12 col-lg-3">
            <div class="movie-card">
                <img src="img/mv5.jpg" alt="Thekku Vadakku" class="img-fluid">
                <div class="movie-details">

                    <h5 class="movie-title">Bogainvilla</h5>
                    <p class="movie-genre">Action/Adventure</p>
                </div>
            </div>
        </div>

</div>
</div>
</div>
</div>
</div>


<footer style="overflow-y: hidden;" class="footer py-3 d-none d-md-block">
    <div class="container-fluid">
      <div class="row justify-content-center text-center text-md-start">
        <div class="col-md-10">
          <p class="text-white" style="white-space: nowrap;">
            <a href="#" class=" footer-logo text-white fw-bold text-decoration-none"><img src="img/icon1.png" alt="">List your Show &nbsp; &nbsp;</a> 
            Got a show, event, activity or a great experience? Partner with us & get listed on BookMyShow 
            <a id="contact"  href="#" class="btn btn-danger ">Contact today! </a>
        </p>
        </div>
  
  <div id="row" class="row justify-content-center">
    <div class="icon-box col-12 col-md-4 col-lg-3 mb-3 text-center ">
      <i style="font-size: 30px;padding-top: 20px;" class="fa-regular fa-user fa-xm my-1 "></i>
      <p class="">24/7 Customer Care</p>
    </div>
    <div class="icon-box col-12 col-md-4 col-lg-3 mb-3 text-center">
      <i style="font-size: 30px;padding-top: 20px;" class="fa-solid fa-ticket my-1"></i>
      <p >Resend Booking Confirmation</p>
    </div>
    <div class="icon-box col-12 col-md-4 col-lg-3 mb-3 text-center">
      <i style="font-size: 30px;padding-top: 20px;" class="fa-regular fa-envelope my-1"></i>
      <p >Subscribe to the Newsletter</p>
    </div>
  </div>
  </div>
  <div class="container mt-3">
  <h4 id="heading">MOVIES NOW SHOWING IN KOCHI</h4>
  <p class="para"><a id="text1" href="">vettaiyan</a> |
  <a id="text1" href="">A.R.M</a> |
  <a id="text1" href="">Kishkindha Kaandam</a> |
  <a id="text1" href="">Venom: The Last Dance</a> |
  <a id="text1" href="">Jocker: Folie a Deux</a> |
  <a id="text1" href="">Thekku Vadakku</a> |
  <a id="text1" href="">Pushpaka Vimanam</a> |
  <a id="text1" href="">Maliyaxhagan</a> |
  <a id="text1" href="">Oru Kattil oru muri</a> |
  </p>
  </div>
  <div class="container mt-3">
  <h4 id="heading">MOVIES NOW SHOWING IN KOCHI</h4>
  <p class="para"><a id="text1" href="">vettaiyan</a> |
  <a id="text1" href="">A.R.M</a> |
  <a id="text1" href="">Kishkindha Kaandam</a> |
  <a id="text1" href="">Venom: The Last Dance</a> |
  <a id="text1" href="">Jocker: Folie a Deux</a> |
  <a id="text1" href="">Thekku Vadakku</a> |
  <a id="text1" href="">Pushpaka Vimanam</a> |
  <a id="text1" href="">Maliyaxhagan</a> |
  <a id="text1" href="">Oru Kattil oru muri</a> |
  </p>
  </div>
  <div class="container mt-3">
  <h4 id="heading">MOVIES BY GENRE</h4>
  <p class="para"><a id="text1" href="">Drama Movies</a> |
  <a id="text1" href="">Action Movies</a> |
  <a id="text1" href="">Thriller Movies</a> |
  <a id="text1" href="">Period Movies</a> |
  <a id="text1" href="">Horror Movies</a> |
  <a id="text1" href="">Fantasy Movies</a> |
  <a id="text1" href="">Suspense Movies</a> |
  <a id="text1" href="">Romantic Movies</a> |
  <a id="text1" href="">Comady Movies</a> |
  </p>
  </div>
  <div class="container mt-3">
  <h4 id="heading">MOVIES BY LANGUAGE</h4>
  <p class="para"><a id="text1" href="">Movies in English</a> |
  <a id="text1" href="">Movies in Malayalam</a> |
  <a id="text1" href="">Movies in Tamil</a> |
  <a id="text1" href="">Movies in Kannada</a> |
  <a id="text1" href="">Movies in telugu</a> |
  <a id="text1" href="">Movies in Hindi</a> |
  <a id="text1" href="">Movies in sindihi</a> |
  <a id="text1" href="">Movies in bengali</a> |
  <a id="text1" href="">Movies in marathi</a> |
  </p>
  </div>
  <div class="container mt-3">
  <h4 id="heading">SPORTS EVENTS IN KOCHI</h4>
  <p class="para">
    <a href="" id="text1">Running</a> |
    <a href="" id="text1">Kabaddi</a> |
    <a href="" id="text1">Athletics</a> |
    <a href="" id="text1">Motorsports</a> |
    <a href="" id="text1">Card Games</a> |
    <a href="" id="text1">Hockey</a> |
    <a href="" id="text1">Rugby</a> |
    <a href="" id="text1">Badminton</a> |
    <a href="" id="text1">Boxing</a> |
    <a href="" id="text1">Pool</a>
  </p>
  
  <h4 id="heading">EVENTS IN TOP CITIES</h4>
  <p class="para">
    <a href="" id="text1">Events in Mumbai</a> |
    <a href="" id="text1">Events in Delhi-NCR</a> |
    <a href="" id="text1">Events in Bengaluru</a> |
    <a href="" id="text1">Events in Hyderabad</a> |
    <a href="" id="text1">Events in Pune</a> |
    <a href="" id="text1">Events in Ahmedabad</a> |
    <a href="" id="text1">Events in Kolkata</a> |
    <a href="" id="text1">Events in Kochi</a>
  </p>
  
  <h4 id="heading">CINEMAS IN TOP CITIES</h4>
  <p class="para">
    <a href="" id="text1">Cinemas in Mumbai</a> |
    <a href="" id="text1">Cinemas in Delhi-NCR</a> |
    <a href="" id="text1">Cinemas in Chennai</a> |
    <a href="" id="text1">Cinemas in Bengaluru</a> |
    <a href="" id="text1">Cinemas in Hyderabad</a> |
    <a href="" id="text1">Cinemas in Pune</a> |
    <a href="" id="text1">Cinemas in Ahmedabad</a> |
    <a href="" id="text1">Cinemas in Kolkata</a> |
    <a href="" id="text1">Cinemas in Kochi</a>
  </p>
  
  <h4 id="heading">PLAYS IN TOP CITIES</h4>
  <p class="para">
    <a href="" id="text1">Plays in Mumbai</a> |
    <a href="" id="text1">Plays in Delhi-NCR</a> |
    <a href="" id="text1">Plays in Chennai</a> |
    <a href="" id="text1">Plays in Bengaluru</a> |
    <a href="" id="text1">Plays in Hyderabad</a> |
    <a href="" id="text1">Plays in Pune</a> |
    <a href="" id="text1">Plays in Kolkata</a> |
    <a href="" id="text1">Plays in Kochi</a>
  </p>
  
  <h4 id="heading">ACTIVITIES IN TOP CITIES</h4>
  <p class="para">
    <a href="" id="text1">Activities in Mumbai</a> |
    <a href="" id="text1">Activities in Delhi-NCR</a> |
    <a href="" id="text1">Activities in Chennai</a> |
    <a href="" id="text1">Activities in Bengaluru</a> |
    <a href="" id="text1">Activities in Hyderabad</a> |
    <a href="" id="text1">Activities in Pune</a> |
    <a href="" id="text1">Activities in Ahmedabad</a> |
    <a href="" id="text1">Activities in Kolkata</a> |
    <a href="" id="text1">Activities in Kochi</a>
  </p>
  
  <h4 id="heading">MOVIES NOW SHOWING</h4>
  <p class="para">
    <a href="" id="text1">Vettaiyan</a> |
    <a href="" id="text1">Vicky Vidya ka Woh Wala Video</a> |
    <a href="" id="text1">Jigra</a> |
    <a href="" id="text1">Martin</a> |
    <a href="" id="text1">Vettaiyan - The Hunter</a> |
    <a href="" id="text1">Devara - Part 1</a> |
    <a href="" id="text1">Viswam</a> |
    <a href="" id="text1">The House of Dead Horror</a> |
    <a href="" id="text1">Wild Roller Coaster</a> |
    <a href="" id="text1">Bohurupi</a>
  </p>
  
  <h4 id="heading">COUNTRIES</h4>
  <p class="para">
    <a href="" id="text1">Indonesia</a> |
    <a href="" id="text1">Singapore</a> |
    <a href="" id="text1">UAE</a> |
    <a href="" id="text1">Sri Lanka</a> |
    <a href="" id="text1">West Indies</a>
  </p>
  
  <h4 id="heading">HELP</h4>
  <p class="para">
    <a href="" id="text1">About Us</a> |
    <a href="" id="text1">Contact Us</a> |
    <a href="" id="text1">Current Opening</a> |
    <a href="" id="text1">Press Release</a> |
    <a href="" id="text1">Press Coverage</a> |
    <a href="" id="text1">Sitemap</a> |
    <a href="" id="text1">FAQs</a> |
    <a href="" id="text1">Terms and Conditions</a> |
    <a href="" id="text1">Privacy Policy</a>
  </p>
  
  <h4 id="heading">BOOKMYSHOW EXCLUSIVES</h4>
  <p class="para">
    <a href="" id="text1">Lollapalooza India</a> |
    <a href="" id="text1">Superstar</a> |
    <a href="" id="text1">BookAChange</a> |
    <a href="" id="text1">Corporate Vouchers</a> |
    <a href="" id="text1">Gift Cards</a> |
    <a href="" id="text1">List My Show</a> |
    <a href="" id="text1">Offers</a> |
    <a href="" id="text1">Stream</a> |
    <a href="" id="text1">Trailers</a>
  </p>
  </div>
  <div class="line mt-5">
  <hr class="left-line">
  <img src="img/logo.svg" alt="Logo" class="logo">
  <hr class="right-line">
  </div>
  <div class=" social mt-5 d-flex justify-content-center ">
  <i id="social1" class="fa-brands fa-facebook-f mx-2"></i>
    <i id="social1" class="fa-brands fa-x-twitter mx-2"></i>
    <i id="social1" class="fa-brands fa-instagram mx-2"></i>
    <i id="social1" class="fa-brands fa-youtube mx-2"></i>
    <i id="social1" class="fa-brands fa-pinterest-p mx-2"></i>
    <i id="social1" class="fa-brands fa-linkedin-in mx-2"></i>
  </p>
  </div>
  
  <div class="text-center  ">
  <p id="text2" class="mt-5 ">copyright 2024 @ Bigtree Entertainment Pvt Ltd. All rights reserved.</p>
  <p id="text2">The content and image used on this site are copyright protected and copyrights vests with the respective owners. The usage of the content and image on this website is intended to promote the work and no endorsement of the
    artist shall be implied. Unauthorized use is prohibited and punishable by law.
  </p>
  
  </div>
    </div>
  </footer>

</body>
</html>